/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24.03.2018, 11:53:13
    Author     : krupnovaa
*/

.wrapper {
    width: 450px;
    height: 450px;
    margin: 10% auto;
    background-color: orange;
    border-radius: 20px;
}

.text {
    font-family: open sans;
    font-style: italic;
    text-align: justify;
    padding: 10px;
    color: black;
    font-size: 16px;
}

.column1 {
    float: left;
    margin-left: 10px;
    width: 45%;
}

.column2 {
    
}


.range {
    width: 164px;
}

.currency {
    width: 50px;
    font-family: 'PT Sans', serif;
    padding: 0px 5px;
}

button {
    margin: auto;
    border-radius: 5px;
    border-color: buttonface;
    height: 30px;
    width: 100px;
    background-color: buttonface;
}

.buttonWrapper {
    margin: 30px auto;
    text-align: center;
}

input[type=range]
{
-webkit-appearance: none;
-moz-appearance: none;

}

input[type=range]::-webkit-slider-runnable-track {
border-radius: 10px;
height: 10px;
border: 1px solid blue;
background-color: white;
}

input[type=range]::-webkit-slider-thumb {
-webkit-appearance: none;
background-color: blue;
border: 3px solid blue;
width: 20px;
height: 20px;
border-radius: 10px;
cursor: pointer;
margin-top: -5px;
}

.mycol {
    height: 500px;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
}

.hr {
    border-top-width: 10px;
    border-top-style: double;
    border-top-color: lightgrey;
    margin-top: 1px;
}

.myrow {
    height: 40px;
    margin-left: 2px;
}

.calc {
    margin-top: 5%;
}

.mytable {
    margin: auto;
    margin-top: 20px;
    border: blue 3px solid;
}

.mytd {
    border-width: 1px;
    border-right-width: 3px;
    border-color: blue;
    border-style: solid;
}
.captiontd {
    border-width: 3px;
    border-color: blue;
    border-style: solid;
}
